body {background-color: bisque;}

header {background: linear-gradient(to right, black, #6E0B14); color: white;}
header {position:absolute; top: 0; left: 0; right: 0; padding: 1em 1em;}
    img{width: 7%;
        height: auto;
}
   
    .flotte {display: inline-block; vertical-align: top;}
        li {font-size: 1.1em;}
        h1 {font-style: italic;}

        a {color: white; }
        a:hover {color: greenyellow;}

    .elem1 {margin-top: 250px; 
        font-size: 1.4em; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        color: black;
    text-align: center;}

    video {border-radius: 10px; box-shadow: 6px 6px 25px;
        display: block; margin-left: auto; margin-right: auto; margin-bottom: 35px; 
        width:30% ; height: auto;}

    .lien {color: black; 
        display: flex;align-items: center; justify-content: center;
        font-size: 1.1em; font-weight: bold;}
    .lien:hover {color: red;}


footer {background: linear-gradient(to right, black, #6E0B14); color: white; text-align: center;}
footer {position: absolute; bottom: 0; left: 0; right: 0; padding-bottom: 2em;}